
<style>
.nav {
  display: inline-block;
}

.nav-item {
  float: left;
  margin: 10px 20px 10px 20px;
}

.nav-item  a {
  text-decoration: none;
  cursor: pointer;
}
.nav-item.first{
  margin-left: 50px;
}
.nav-ul {

}
</style>

<div class="nav">
  <ul class="nav-ul">
    <li class="nav-item first"> <a href="/2/products"> List Products </a></li>
    <li class="nav-item"> <a href="/2/products/new"> Create New Product </a></li>
  </ul>
</div>
